RewriteEngine on

Redirect 301 /index.php /admin

#RewriteRule ^blank\.docx$ /doc/blank.docx$1 [NC,L]

RewriteRule ^admin admin.php$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


#RewriteRule . index.php
#RewriteRule ^(.*)$ admin.php [L,QSA]

Allow from all
